/* Apply to screens less than 600px wide */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    input, button {
        width: 30%; /* Make buttons and inputs full width */
    }
}

body {
    font-family: 'Courier New', monospace;
    font-size: 14px;
  }

.limited-width {
    max-width: 600px; /* Limit width to 400 pixels */
}
