/* Apply to screens less than 600px wide */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    input, button {
        width: 100%; /* Make buttons and inputs full width */
    }
}

.node {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.6;
}

body {
    font-family: 'Courier New', monospace;
    font-size: 12px;
  }

.limited-width {
    max-width: 600px; /* Limit width to 400 pixels */
}

